<section class="about">
  <h2>Sobre Nosotros</h2>
  <div class="content">
    <img src="https://media.istockphoto.com/id/1428412216/es/foto/un-chef-masculino-vertiendo-salsa-en-la-comida.jpg?s=612x612&w=0&k=20&c=Wze2YwgkFMQOTWoxdiRYsUpa1azCIOm8yRaUEEYOgOU=" alt="Foto del restaurante">
    <div class="text">
      <p>
        En <strong>Grand Torino</strong> combinamos tradición y vanguardia para ofrecerle
        una experiencia gastronómica única. Nuestro equipo de chefs utiliza ingredientes
        de la más alta calidad y técnicas innovadoras para crear platos que despiertan
        todos sus sentidos.
      </p>
    </div>
  </div>
</section>
